<header class="wdt_100">
  <div class="mid_cnt">
    <div class="hdr_top wdt_100">
      <span class="hdr_top_call">Call Us: 576889998688</span>
      <div class="cart_col">
        <div class="cart_img">
          <div class="cart-text">
            <%= render 'layouts/cart_text' %>
          </div>
        </div>
      </div>
      <ul class="hdr_top_login">
        <% if admin_user_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_admin_user_session_path, method: :delete) %>
          </li>
        <% else %>
          <li>
            <%= link_to('Login', new_admin_user_session_path)  %>
          </li>
        <% end %>
      </ul>
    </div>

      <div class="main_header wdt_100">


        <a class="logo" href="/"><%= image_tag 'logo.png' %></a>

        <nav>
          <ul>
            <li> <%= link_to 'HOME', root_path, class: 'nav_active' %></li>
            <li><%= link_to 'PRODUCTS', products_path %></li>
            <li><%= link_to 'DEEL/SCHEME', schemes_path %></li>
            <li><%= link_to 'GALLERY', galleries_path %></li>
            <li><%= link_to 'JOBS', "/jobs" %></li>
            <li><%= link_to 'ORDER', "#" %></li>
            <li><%= link_to 'ABOUT US', about_path %></li>
          </ul>
        </nav>
      </div>
  </div>
</header>


