<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", products_path %> and add some items to your cart.
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
  <% end %>

  <%= form_with(model: @user, local: true, class: 'form-horizontal center') do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :first_name, class: "col-md-4 control-label" %>
      <div class="col-md-6">
        <%= form.text_field :first_name, id: :user_first_name %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :last_name, class: "col-md-4 control-label" %>
      <div class="col-md-6">
        <%= form.text_field :last_name, id: :user_last_name %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :phone_number, class: "col-md-4 control-label" %>
      <div class="col-md-6">
        <%= form.text_field :phone_number, id: :user_phone_number %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :address, class: "col-md-4 control-label" %>
      <div class="col-md-6">
        <%= form.text_area :address, id: :user_address %>
      </div>
    </div>
    <%= hidden_field_tag 'place_order', current_order.id %>

    <div class="text-center">
      <%= form.submit "Place Order", class: "btn btn-default btn-primary" %>
    </div>
  <% end %>
<% end %>
